.Header {
  display: flex;
  background-color: $secondary;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: calc($gutter / 2) calc($gutter * 2);
  border-radius: 0 0 20px 20px;
  margin-bottom: calc($gutter * 2);

  // Title
  &__title {
    font-size: $text-m;
  }

  // Search Bar
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    border-radius: 20px;
    padding: calc($gutter / 2);
    width: 30%;

    input {
      border: none;
      background-color: transparent;
      color: $white;
      flex: 2;
    }

    &__button {
      background-color: transparent;
      border: none;
      color: $white;
      font-size: $text-m;
      cursor: pointer;
    }
  }

  // Navbar 
  &__nav {
    &__list {
      display: flex;
      gap: $gutter;

      &__item {
        &__link {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;

          &:hover {
            color: $blue;

            svg {
                color: $blue;
            }
          }

          &__icon {
            font-size: $text-m;
            color: $white;
          }
        }
      }
    }
  }
}
