$primary: #1b1b1b;
$secondary: #222222;
$blue: #0C3D91;
$white: #F8F8FF;
$yellow: #eeee26;

$main-font: 'Mochiy Pop One', sans-serif;
$black: 900;
$bold: 700;

$text-1: 64px;
$text-2: 48px;
$text-3: 36px;
$text-4: 24px;
$text-5: 18px;
$text-6: 14px;

$gutter : 1.5rem;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 480px;