$primary: #1b1b1b;
$secondary: #222222;
$blue: #0C3D91;
$white: #F8F8FF;
$yellow: #eeee26;

$main-font: 'Yusei Magic', sans-serif;

$gutter : 1.5rem;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 480px;