$primary: #1b1b1b;
$secondary: #222222;
$blue: #0c3d91;
$dark-blue: #09285e;
$white: #f8f8ff;
$yellow: #eeee26;
$red: #ff2030;
$debug: #ff00ff;

$main-font: "Mochiy Pop One", sans-serif;
$black: 900;
$bold: 700;

$text-xxl: 64px;
$text-xl: 48px;
$text-l: 36px;
$text-m: 24px;
$text-s: 18px;
$text-xs: 14px;

$gutter: 1.5rem;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 480px;
