@use 'vars' as v;

@mixin gradient-background {
    background: rgb(47,0,98);
    background: -moz-linear-gradient(90deg, rgba(47,0,98,1), v.$accent-color 80%);
    background: -webkit-linear-gradient(90deg, rgba(47,0,98,1), v.$accent-color 80%);
    background: linear-gradient(90deg, rgba(47,0,98,1), v.$accent-color 80%);
}

@mixin gradient-scrollbar {
    background: rgb(47,0,98);
    background: -moz-linear-gradient(135deg, rgba(47,0,98,1), v.$accent-color 120%);
    background: -webkit-linear-gradient(135deg, rgba(47,0,98,1), v.$accent-color 120%);
    background: linear-gradient(135deg, rgba(47,0,98,1), v.$accent-color 120%);
}

@mixin gradient-border {
    background: v.$primary-color;
    background-clip: padding-box; /* !important */
    border: solid 2px transparent; /* !important */
    border-radius: 10px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px; /* !important */
        border-radius: inherit; /* !important */
        @include gradient-background
    }
}

@mixin gradient-text {
    @include gradient-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}