@use 'sass:math';

$primary-color: #1b1b1b;
$secondary-color: #222222;
$tertiary-color: #545454;
$accent-color: #0C3D91;
$light-color: #fdfaff;
$yellow-color: #eeee26;
$main-gradient: linear-gradient(90deg, rgba(47,0,98,1), rgba(12,61,145,1) 80%)
