@use 'src/styles/vars';
@use 'src/styles/mixins' as m;
@import 'src/styles';


.mangas {
  position: relative;
  width: 70%;
  height: 100%;
  margin: auto;
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.manga {
  width: 40%;
  margin: .6rem;
  border-radius: 10px;
  border: 2px solid vars.$tertiary-color;
  transition: ease-in-out transform .25s;
  &__item {
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    color: vars.$light-color;
    background-color: vars.$secondary-color;
    display: flex;
    &__image{
      width: 30%;
      img {
        height: 100%;
        max-width:100%;
      }
    }
    
    &__content{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      padding-left: 4rem;
      &__title{}
      &__origine{
        & p {
          text-align: left;
          & img {
          width: 7%;
          margin-right: .5em;
          }

        }
      }
      &__author{}
      &__type{}
      &__price{}
      &__age{}
    }
  }
  &:hover {
    @include m.gradient-border;
    cursor: pointer;
    transform: scale(1.015);
  }
}


.description {
  width: 80%;
  margin: auto;
  color: white;
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .3em 0;
    &__image{
      & img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__content{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      &__title{
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        width: 100%;
      }
      &__origine{
        & p {
          text-align: left;
          & img {
          width: 3%;
          margin-right: .5em;
          }

        }
      }
      &__author{}
      &__type{}
      &__price{}
      &__age{}
      &__description{
        padding-top: .5rem;
        align-self: center;
        width: 95%;
        border-top: 1px solid vars.$primary-color;
      }
    }
  }
}
