@use 'src/styles/vars';
@import 'src/styles';


.header {
  width: 60%;
  height: 7%;
  z-index: 1;
  position: sticky;
  border: 1px solid vars.$primary-color;
  box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.5);
  margin-left: 20%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4em;
  padding: .2rem 0;
  &__title{
    color: vars.$primary-color;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: .5rem;
  }

  &__search {
    font-size: 2em;
    display: flex;
    align-items: center;
    & input {
      &::placeholder {
        color: vars.$primary-color;
      }
    }
  }
  &__annonce{
    display: flex;
    align-items: center;
    &__button {
      background-color: vars.$primary-color;
      color: white;
      padding: .7em;
    }

    & span {
      border: 1px solid white;
      padding: 0.2em;
      font-size: 1.2rem;
    }
  }
  &__icons{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: .2rem;
      &__span {
        font-size: 1.2em !important;
      }
      &--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        font-size: 1.5em;
      }
      &:hover {
        color: vars.$secondary-color;
      }
    }
    
  }
  
}


.annonce{
  width: 70%;
  height: auto;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  position: absolute;
  top: 15%;
  left: 15%;
  background-color: vars.$primary-color;
  border: 1px solid vars.$tertiary-color;
  text-align: left;
  &__title{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  &__form{
    &__item{
      display: flex;
      flex-direction: column;
      margin: 1em 0;
      & label {
        font-size: 1.2em;
        color: white;
        margin: 2em 0 1em 0;
      }
      & input {
        font-size: 1em;
        border: 1px solid white;
        padding: .2em;
        width: 30%;
        margin-left: 1em;
      }
      & select {
        font-size: 1em;
        border: 1px solid white;
        padding: .2em;
        width: 30%;
        margin-left: 1em;
      }
      & span {
        font-size: 1.2em;
        color: white;
        position: absolute;
        top: 49.5%;
        left: 32.5%;
      }
      & button {
        font-size: 1.2em;
        border: 1px solid white;
        background-color: white;
        color: vars.$primary-color;
        font-weight: bold;
        padding: .2em;
        width: 25%;
        margin: auto;
        margin-top: 1em;
      }
    }
  }
}

#image {
  color: white;
  font-size: .8em;
  width: 20%;
}

#description {
  margin-left: 1rem;
  width: 60%;
  &::placeholder{
    padding: .2rem;
  }
}
