button {
    border: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc($gutter / 1.5) $gutter;
  background-color: var(--white);
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
      transform: none !important;
      box-shadow: none !important;
    }
  }

  &:active {
    transform: scale(0.9);
    box-shadow: none;
  }

  &.square {
    border-radius: 7px;
  }

  &.little {
    padding: calc($gutter / 2) calc($gutter / 2);
  }

  &.very-little {
    padding: calc($gutter / 2.5) calc($gutter / 2.5);
    border-radius: 10px;
    font-size: calc($text-xs / 1.2);
  }

  &.blue {
    background-color: $blue;
    color: $white;

    &:hover,
    &:active {
      box-shadow: 0 10px 20px -10px rgba($blue, 1);
      transform: translate(0, -3px);
    }

    &.outlined {
      background-color: $white;
      border: 1px solid $blue;
      color: $blue;
    }
  }
}
